<!DOCTYPE html>
<html>
<head>
  <meta charset= "utf-8"/>
  <title>Week4_Assignment</title>
</head>

<body>
  <form method = "POST"  id= "signUp" >
    <p>
      <h1 style = "backGround-color: aliceblue;">Sign Up</h1>
    </p>
    <p>
      email : <br><input type = 'email' name = 'email' required/>
    </p>
    <p>
      password : <br><input type = 'password' name = 'password' required/>
    </p>
    <p>
      <input type = 'submit' value = 'Sign Up'/>
    </p>
  </form>



  <form method = "POST"   id= "signIn">
    <p>
      <h1 style = "backGround-color: aliceblue;">Sign In</h1>
    </p>
    <p>
      email : <br><input type = 'email' name = 'email' required/>
    </p>
    <p>
      password : <br><input type = 'password' name = 'password' required/>
    </p>
    <p>
      <input type = 'submit' value = 'Sign In'/>
    </p>
    <p class="errorReturnMessage" style="color:red"></p>
  </form>
  
  
  <script src="static/js/signData.js"></script>
</body>
</html>